body{
    display: flex;
    background-color: rgba(177, 175, 255, 0.8);
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.wrapper{
    display: flex;
    height: 800px;
    width: 600px;
    justify-content: center;
    align-items: center;
    background-color: #121215;
    flex-direction: column;
    gap: 20px;
    border-radius: 25px;
    padding: 50px 100px;
}

.wrapper button{
    padding: 10px 20px;
    background-color: #26252a;
    color: #9da0ec;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;

}

.accordion{
    width: 500px;
}

.item{
    background: #26252a;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

.title{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.title span{
    font-size: 40px;
    color: #9da0ec;
    

}

.answer{
    color: white;
    height: auto;
}