.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(177, 175, 255, 0.8);
    flex-direction: column;
    gap: 20px;
}

.wrapper button{
    padding: 10px 20px;
    background-color: #26252a;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;

}

.accordion{
    width: 500px;
}

.item{
    background: #26252a;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.title{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.answer{
    color: white;
    height: auto;
}